<!DOCTYPE html>
<html lang="en">
<head>
  {% for slot in available_slots %}
  <option value="{{ slot }}">{{ slot }}</option>
{% endfor %}

  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'rdv/rdv.css' %}">
  
  <title>Prise_de_Rendez_vous</title>
</head>
{% if form.errors %}
    <div class="alert alert-danger">
        {% for field in form %}
            {% for error in field.errors %}
                <p>{{ error }}</p>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}



<!-- <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>
 -->

  

<!-- </html><form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Prendre rendez-vous</button>
  </form>
   -->
   <body>
  
    <div class="container">
      <h1>Prise de rendez-vous</h1>
      <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Envoyer</button>
        
      </form>
    </div>
  </body>
</html>

