body {
   
   background: linear-gradient(to bottom right, rgb(43, 31, 31), rgb(214, 202, 204));
      
    
  }

 

  img:hover  {

  -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
  filter: grayscale(0%); /* Firefox */ }

  img{

  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%); /* Firefox */ }

 




body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > * {
    max-width: 1100px;
    width: 95%;
}

 /* Nav bar */

nav {
    display: flex;
    height: 120px;
    justify-content: f;
    align-items: center;
    background-color: rgb(135, 3, 3);
}

nav figure {
    width: 150px;
    justify-content: flex-start;
    
}

nav ul {
    display: flex;
    gap: 0px;
    list-style: none;
}

img {
    max-width : 100%;
    height : auto;
    object-fit: contain;
    background-color: rgb(221, 221, 244);
    border-top-right-radius: 1em 10%;
    

}
.img-container {
    overflow: hidden; /* masquer les parties de l'image qui dépassent */
    
  }
  
  .image-container img {
    width: 80%; /* utiliser toute la largeur de l'élément parent */
    height: auto; /* ajuster la hauteur en fonction de la largeur */
    transition: transform 0.2s; /* ajouter une transition pour un effet plus fluide */
  }
  
  .image-container:hover img {
    transform: scale(1.1); /* agrandir l'image de 10% */
  }

nav ul li a {
    color: #858585;
    font-size: large;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    transition: color 0.3s;
    justify-content: flex-end;
}

nav ul li a:hover {
    color: rgb(255, 102, 102);
    transition: color 0.3s;
}

/* Header */

header {
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
}

h1 {
    color: #ded3d3;
    font-size: 2em;
    font-family: 'Impact', Haettenschweiler, Arial Narrow Bold, sans-serif;
    font-weight: 1200px;
    align-items: center;
    line-height : 30px;
    text-transform : uppercase;
    letter-spacing : 0.04em;
    
    
    
}

h2 {
    color: rgb(255, 109, 109);
    font-size: 1em;
    font-family: 'Impact', Haettenschweiler, Arial Narrow Bold, sans-serif;
    font-weight: 600;
    line-height : 33px;
    text-transform : uppercase;
    letter-spacing : 0.04em;
}



.button {
    display: block;
    width: 120px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.twitter {
    background-color: #592b2e;
    
}



@media screen and (max-width: 700px) {
    header {
        grid-template-columns: 1fr;
    }    
}

/* Liste d'articles */

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    gap: 30px;
    text-align: justify;
}

main article > * {
    margin: 0px 0;
   
}

main figure {
    height: 300px;
    width: 100%;
}

main figure img {
    height: 200%;
    
}

main h2 {
    color:#dedede;
}

main article a {
    color: #dedede;
}